.block__create {
   &.preview {
      & .create__title {
         display: none;
      }
      & .block__create-inner {
         display: none;
      }
      & .preview__title {
         display: flex;
      }
      .block__create-preview {
         .title-block,
         .block-1,
         .block-2,
         .block-3,
         .block-4 {
            span,
            .textarea__inner {
               // pointer-events: none;
               &:hover {
                  &::before {
                     display: none;
                  }
                  &::after {
                     display: none;
                  }
               }
            }
         }
      }
   }
   &-title {
      & .create__title {
         display: flex;
         align-items: center;
         gap: 10px;
         padding: 10px 0;
         margin-bottom: 16px;
         .cancel_create_letters {
            min-width: 24px;
            height: 24px;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 12.5H1' stroke='%23333153' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 19.5L1 12.5L8 5.5' stroke='%23333153' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
         }
         .open_preview {
            display: flex;
            align-items: center;
            gap: 9px;
            color: var(--gray-850);
            background-color: transparent;
            border: 1px solid var(--gray-400);
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            padding: 8px 15px;
            margin-left: auto;
         }
      }
      & .preview__title {
         display: none;
         align-items: center;
         gap: 10px;
         padding: 10px 0;
         margin-bottom: 16px;
         .hide_preview {
            min-width: 24px;
            height: 24px;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 12.5H1' stroke='%23333153' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 19.5L1 12.5L8 5.5' stroke='%23333153' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
         }
      }
   }
   &-inner {
      display: grid;
      grid-template-columns: 1fr 250px;
      gap: 32px;
   }
   &-form {
      margin-bottom: 32px;
      .section-step {
         display: flex;
         flex-direction: column;
         gap: 16px;
         h6 {
            margin-bottom: 16px;
         }
         input,
         textarea {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            width: 100%;
            background-color: var(--white);
            border: 1px solid var(--gray-400);
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            padding: 12px;
            &::placeholder {
               font-size: 14px;
               line-height: 20px;
               font-weight: 400;
               color: var(--gray-850);
            }
            &:invalid {
               background-color: var(--gray-100);
            }
            &::placeholder {
               color: var(--gray-850);
            }
            &:focus {
               border: 1px solid var(--orange-600);
            }
            &.error {
               border-color: var(--red-300);
            }
         }
         textarea {
            display: block;
            min-height: 128px;
            resize: none;
            &::-webkit-scrollbar {
               width: 5px;
            }
            &::-webkit-scrollbar-thumb {
               background-color: var(--gray-300);
               border-radius: 4px;
               -webkit-border-radius: 4px;
               -moz-border-radius: 4px;
               -ms-border-radius: 4px;
               -o-border-radius: 4px;
            }
         }
         .period {
            display: flex;
            align-items: center;
            gap: 16px;
            .period__inner {
               position: relative;
               input {
                  font-size: 14px;
                  line-height: normal;
                  font-weight: 400;
                  max-width: 165px;
                  padding: 12px 34px 12px 12px;
               }
               &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  right: 12px;
                  transform: translateY(-50%);
                  -webkit-transform: translateY(-50%);
                  -moz-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                  -o-transform: translateY(-50%);
                  width: 16px;
                  height: 16px;
                  background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3555 3.52179H11.7332V2.27734H10.4888V3.52179H5.51101V2.27734H4.26657V3.52179H3.64435C2.95368 3.52179 2.40612 4.08179 2.40612 4.76623L2.3999 13.4773C2.3999 13.8074 2.53101 14.1239 2.76439 14.3573C2.99777 14.5907 3.3143 14.7218 3.64435 14.7218H12.3555C13.0399 14.7218 13.5999 14.1618 13.5999 13.4773V4.76623C13.5999 4.08179 13.0399 3.52179 12.3555 3.52179ZM12.3555 13.4773H3.64435V4.76623H12.3555V13.4773Z' fill='%23C4CDDF'/%3E%3Crect x='4.88208' y='5.85156' width='6.2356' height='1.23853' fill='%23C4CDDF'/%3E%3C/svg%3E%0A");
                  background-repeat: no-repeat;
                  background-position: center;
               }
            }
         }
         .length {
            color: var(--gray-700);
            margin-top: 5.5px;
         }
         .recommendations {
            margin-bottom: 16px;
            .recommendations__select {
               position: relative;
               z-index: 1;
               max-width: 363px;
               cursor: pointer;
               .select__header {
                  position: relative;
                  background: var(--white);
                  border: 1px solid var(--gray-400);
                  border-radius: 6px;
                  -webkit-border-radius: 6px;
                  -moz-border-radius: 6px;
                  -ms-border-radius: 6px;
                  -o-border-radius: 6px;
                  padding: 12px 28px;
                  transition: all 0.2s;
                  -webkit-transition: all 0.2s;
                  -moz-transition: all 0.2s;
                  -ms-transition: all 0.2s;
                  -o-transition: all 0.2s;
                  &::before {
                     content: "Я";
                     position: absolute;
                     left: 13px;
                     top: 50%;
                     transform: translateY(-50%);
                     -webkit-transform: translateY(-50%);
                     -moz-transform: translateY(-50%);
                     -ms-transform: translateY(-50%);
                     -o-transform: translateY(-50%);
                  }
                  &::after {
                     content: "";
                     position: absolute;
                     right: 16px;
                     top: 50%;
                     transform: translateY(-50%);
                     -webkit-transform: translateY(-50%);
                     -moz-transform: translateY(-50%);
                     -ms-transform: translateY(-50%);
                     -o-transform: translateY(-50%);
                     width: 10px;
                     height: 10px;
                     background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25 0.958984L4.29289 4.00188C4.68342 4.3924 5.31658 4.3924 5.70711 4.00188L8.75 0.958984' stroke='%23606483' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                     background-repeat: no-repeat;
                     background-position: center;
                     transition: all 0.2s;
                     -webkit-transition: all 0.2s;
                     -moz-transition: all 0.2s;
                     -ms-transition: all 0.2s;
                     -o-transition: all 0.2s;
                  }
                  &.active {
                     border-color: var(--orange-600);
                     &::after {
                        transform: translateY(-50%) scale(1, -1);
                        -webkit-transform: translateY(-50%) scale(1, -1);
                        -moz-transform: translateY(-50%) scale(1, -1);
                        -ms-transform: translateY(-50%) scale(1, -1);
                        -o-transform: translateY(-50%) scale(1, -1);
                     }
                  }
               }
               .select__list {
                  position: absolute;
                  top: calc(100% + 7px);
                  width: 100%;
                  background: var(--white);
                  box-shadow: 1px 4px 12px rgba(54, 94, 125, 0.1);
                  border-radius: 6px;
                  -webkit-border-radius: 6px;
                  -moz-border-radius: 6px;
                  -ms-border-radius: 6px;
                  -o-border-radius: 6px;
                  padding: 8px;
                  opacity: 0;
                  overflow: hidden;
                  visibility: hidden;
                  transition: all 0.2s;
                  -webkit-transition: all 0.2s;
                  -moz-transition: all 0.2s;
                  -ms-transition: all 0.2s;
                  -o-transition: all 0.2s;
                  &.active {
                     opacity: 1;
                     overflow: visible;
                     visibility: visible;
                  }
                  .item {
                     input {
                        display: none;
                     }
                     input:checked {
                        & ~ p {
                           color: var(--orange-800);
                           background: var(--orange-200);
                           border-radius: 6px;
                        }
                     }
                     p {
                        width: 100%;
                        color: var(--gray-1000);
                        padding: 10px 8px;
                        transition: 0.3s all;
                        -webkit-transition: 0.3s all;
                        -moz-transition: 0.3s all;
                        -ms-transition: 0.3s all;
                        -o-transition: 0.3s all;
                     }
                  }
               }
            }
            h6 {
               margin-bottom: 0px;
               margin-top: 16px;
            }
         }
         .phone {
            input {
               max-width: 228px;
            }
         }
      }
   }
   &-preview {
      display: flex;
      flex-direction: column;
      gap: 32px;
      background: var(--white);
      border: 1px solid var(--gray-300);
      box-shadow: 1px 4px 15px rgba(54, 94, 125, 0.05);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      padding: 40px;
      .title {
         p {
            color: var(--gray-850);
         }
      }
      .title-block,
      .block-1,
      .block-2,
      .block-3,
      .block-4 {
         display: flex;
         flex-direction: column;
         gap: 16px;
         h6 {
            border-bottom: 1px solid var(--gray-400);
            padding: 8px 0;
            margin-bottom: 16px;
         }
         .city,
         .recommended,
         .position,
         .period,
         .responsibilities,
         .achievements,
         .characteristic,
         .quality,
         .recommendations,
         .phone {
            display: inline-flex;
            align-items: center;
            min-width: 100%;
            width: 100%;
            span,
            .textarea__inner {
               position: relative;
               &:hover {
                  &::before {
                     opacity: 1;
                     visibility: visible;
                     overflow: visible;
                  }
                  &::after {
                     opacity: 1;
                     visibility: visible;
                     overflow: visible;
                  }
               }
               &::before {
                  content: "Вы ещё не заполнили эту графу. Она станет кликабельна, когда вы до неё дойдёте.";
                  position: absolute;
                  top: -90px;
                  left: 10px;
                  z-index: 2;
                  width: 300px;
                  color: var(--white);
                  background: rgba(4, 22, 37, 0.95);
                  border-radius: 10px;
                  -webkit-border-radius: 10px;
                  -moz-border-radius: 10px;
                  -ms-border-radius: 10px;
                  -o-border-radius: 10px;
                  padding: 16px;
                  opacity: 0;
                  visibility: hidden;
                  overflow: hidden;
               }
               &::after {
                  content: "";
                  position: absolute;
                  left: 50px;
                  border: 10px solid transparent;
                  border-top: 10px solid rgba(4, 22, 37, 0.95);
                  opacity: 0;
                  visibility: hidden;
                  overflow: hidden;
               }
            }
            span {
               display: inline-block;
               vertical-align: middle;
               width: 100%;
               background-color: var(--gray-150);
               border-radius: 6px;
               -webkit-border-radius: 6px;
               -moz-border-radius: 6px;
               -ms-border-radius: 6px;
               -o-border-radius: 6px;
               &:not(:empty) {
                  height: auto;
                  background-color: transparent;
                  &:hover {
                     &::before {
                        display: none;
                     }
                     &::after {
                        display: none;
                     }
                  }
               }
            }
            .textarea__inner {
               width: 100%;
               &.not-empty {
                  &:hover {
                     &::before {
                        display: none;
                     }
                     &::after {
                        display: none;
                     }
                  }
               }
               textarea {
                  resize: none;
                  display: inline-block;
                  vertical-align: middle;
                  width: 100%;
                  min-height: 165px;
                  height: 100%;
                  color: var(--gray-900);
                  background-color: var(--gray-150);
                  border-radius: 6px;
                  -webkit-border-radius: 6px;
                  -moz-border-radius: 6px;
                  -ms-border-radius: 6px;
                  -o-border-radius: 6px;
                  cursor: default;
                  &.not-empty {
                     background-color: transparent;
                     min-height: 15px;
                     height: auto;
                  }
               }
            }
         }
      }
      .title-block {
         display: flex;
         align-items: center;
         flex-direction: row;
         justify-content: space-between;
         .city {
            min-width: auto;
            p {
               max-width: 65%;
               width: 100%;
            }
            span {
               height: 32px;
               max-width: 80%;
               &:not(:empty) {
                  height: auto;
                  max-width: fit-content;
                  background-color: transparent;
               }
            }
         }
         .create__date {
            display: flex;
            align-items: center;
            gap: 8px;
            .day,
            .month,
            .year {
               color: var(--gray-850);
               background: var(--gray-150);
               border-radius: 6px;
               -webkit-border-radius: 6px;
               -moz-border-radius: 6px;
               -ms-border-radius: 6px;
               -o-border-radius: 6px;
               padding: 6px 12px;
            }
         }
      }
      .block-1 {
         .recommended {
            p {
               width: 100%;
            }
            span {
               height: 32px;
               max-width: 40%;
               &:not(:empty) {
                  height: auto;
                  max-width: fit-content;
                  background-color: transparent;
               }
            }
         }
         .position {
            span {
               height: 32px;
               max-width: 100%;
               width: 100%;
               &:not(:empty) {
                  max-width: 100%;
                  width: auto;
               }
            }
         }
         .period {
            display: flex;
            align-items: center;
            gap: 10px;
            p {
               display: flex;
               align-items: center;
               gap: 10px;
               max-width: 20%;
               width: 100%;
            }
            span {
               height: 32px;
               max-width: 100%;
               &:not(:empty) {
                  height: auto;
                  max-width: fit-content;
                  background-color: transparent;
               }
            }
         }
         .responsibilities {
            align-items: start;
            flex-direction: column;
            gap: 16px;
            span {
               min-height: 195px;
               max-width: 100%;
               &:not(:empty) {
                  max-width: 100%;
                  min-height: 0px;
                  width: auto;
               }
            }
         }
      }
      .block-2 {
         .achievements {
            align-items: start;
            flex-direction: column;
            gap: 16px;
            span {
               min-height: 195px;
               max-width: 100%;
               &:not(:empty) {
                  max-width: 100%;
                  min-height: 0px;
                  width: auto;
               }
            }
         }
      }
      .block-3 {
         .recommended {
            p {
               width: 100%;
            }
            span {
               height: 32px;
               max-width: 40%;
               &:not(:empty) {
                  height: auto;
                  max-width: fit-content;
                  background-color: transparent;
               }
            }
         }
         .characteristic {
            align-items: start;
            flex-direction: column;
            gap: 16px;
            span {
               min-height: 195px;
               max-width: 100%;
               &:not(:empty) {
                  max-width: 100%;
                  min-height: 0px;
                  width: auto;
               }
            }
         }
      }
      .block-4 {
         .quality {
            align-items: start;
            flex-direction: column;
            gap: 16px;
            span {
               min-height: 195px;
               max-width: 100%;
               &:not(:empty) {
                  max-width: 100%;
                  min-height: 0px;
                  width: auto;
               }
            }
         }
         .recommendations {
            p {
               width: 100%;
            }
            span {
               height: 32px;
               max-width: 30%;
               &:not(:empty) {
                  height: auto;
                  max-width: fit-content;
                  background-color: transparent;
               }
            }
         }
         .phone {
            p {
               width: 100%;
            }
            span {
               height: 32px;
               max-width: 30%;
               &:not(:empty) {
                  height: auto;
                  max-width: fit-content;
                  background-color: transparent;
               }
            }
         }
         .description {
            margin-top: 16px;
         }
      }
   }
}
