.step {
   display: flex;
   flex-direction: column;
   gap: 33px;
   .step__value {
      position: relative;
      display: flex;
      align-items: center;
      gap: 24px;
      cursor: pointer;
      &.done {
         .number {
            border-color: var(--orange-600);
            background-color: var(--orange-600);
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.26917 4.28853L5.21441 8.10463L10.9711 1.89539' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            &::before {
               background-color: var(--orange-600);
            }
         }
         .text {
            color: var(--orange-600);
         }
         &:hover {
            .text {
               color: var(--orange-800);
            }
         }
      }
      &.now {
         .number {
            color: var(--orange-600);
            border-color: var(--orange-600);
            background-color: transparent !important;
            background-image: none;
         }
         .text {
            color: var(--orange-600);
         }
         &:hover {
            .text {
               color: var(--orange-800);
            }
         }
      }
      &.error {
         .number {
            border-color: var(--red-300) !important;
            background-color: var(--white) !important;
            background-image: none !important;
            box-shadow: 0px 0px 4px var(--red-300);
         }
         .text {
            color: var(--red-300);
         }
      }
      &:last-child {
         .number::before {
            display: none;
         }
      }
      .number {
         position: relative;
         min-width: 16px;
         min-height: 16px;
         display: table-cell;
         vertical-align: middle;
         text-align: center;
         color: var(--gray-400);
         border: 1px solid var(--gray-400);
         border-radius: 50%;
         &::before {
            content: "";
            position: absolute;
            top: 22px;
            left: 52%;
            transform: translateX(-50%);
            height: 23px;
            width: 1.5px;
            background-color: var(--gray-400);
         }
      }
      .text {
         white-space: nowrap;
         color: var(--gray-600);
      }
   }
}
